@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --primary-color: #BF9410;
  --text-color: #fff;
  --black: #111111;
  --black-light: #1a1a1a;
  --text-light: #f5f5f5;
  --gray-color: #777777;
  --border-color: #f0f0f0;
  --text-light2: #a3a3a3;
  --Quicksand-font: 'Quicksand', sans-serif;
  --transition-fast: all .4s ease-in-out;
  --transition-slow: all .6s ease-in-out;
}

/* Navbar */
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px 2%;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    display: flex;
    background-color: var(--text-light);
    z-index: 999;
}

.nav-list {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 50px;
  align-items: center;
}

.nav-list li a {
  color: var(--black);
  font-size: 18px;
  font-weight: 500;
  transition: var(--transition-slow);
}

.nav-list li a:hover {
  color: var(--primary-color);
}

.nav-right {
  display: flex;
  gap: 30px;
  align-items: center;
}

.btn{
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  background-color: var(--primary-color);
  font-size: 18px;
  font-weight: 500;
  border-radius: 8px;
  transition: var(--transition-slow);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.btn:hover {
  background-color: var(--black);
  color: var(--text-color);
  transition: var(--transition-slow);
}

.btn a {
  color: var(--text-color);
  font-size: 18px;
  font-weight: 500;
}

.btn i {
  margin-right: 10px;
  font-size: 20px;
  color: var(--text-color);
}

/* .nav-right .btn {
  padding: 15px 15px;
} */

.nav-right ul {
  display: flex;
  gap: 30px;
  align-items: center;
}

.nav-right ul li{
  position: relative;
  font-size: 20px;
  font-weight: 500;
}
.nav-right ul li {
  color: var(--black);
  font-size: 20px;
  font-weight: 500;
  transition: var(--transition-slow);
}

.nav-right ul li:hover {
  color: var(--primary-color);
}

.nav-right ul li::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
}
