@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --primary-color: #BF9410;
  --text-color: #fff;
  --black: #111111;
  --black-light: #1a1a1a;
  --text-light: #f5f5f5;
  --gray-color: #777777;
  --border-color: #f0f0f0;
  --text-light2: #a3a3a3;
  --Quicksand-font: 'Quicksand', sans-serif;
  --transition-fast: all .4s ease-in-out;
  --transition-slow: all .6s ease-in-out;
}

/* Navbar */
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px 2%;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    display: flex;
    background-color: var(--text-light);
    z-index: 999;
}

.nav-list {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 50px;
  align-items: center;
}

.nav-list li a {
  color: var(--black);
  font-size: 18px;
  font-weight: 500;
  transition: var(--transition-slow);
}

.nav-list li a:hover {
  color: var(--primary-color);
}

.nav-right {
  display: flex;
  gap: 30px;
  align-items: center;
}

.btn{
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  background-color: var(--primary-color);
  font-size: 18px;
  font-weight: 500;
  border-radius: 8px;
  transition: var(--transition-slow);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.btn:hover {
  background-color: var(--black);
  color: var(--text-color);
  transition: var(--transition-slow);
}

.btn a {
  color: var(--text-color);
  font-size: 18px;
  font-weight: 500;
}

.btn i {
  margin-right: 10px;
  font-size: 20px;
  color: var(--text-color);
}

/* .nav-right .btn {
  padding: 15px 15px;
} */

.nav-right ul {
  display: flex;
  gap: 30px;
  align-items: center;
  position: relative;
  
}

.nav-right ul li{
  position: relative;
  font-size: 20px;
  font-weight: 500;
}
.nav-right ul li {
  color: var(--black);
  font-size: 20px;
  font-weight: 500;
  transition: var(--transition-slow);
}

.nav-right ul li:hover {
  color: var(--primary-color);
}

.nav-right ul li::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 1px;
  height: 100px;
}

.sidebar{
  position: absolute;
  top: 0;
  right: 0;
  width: 35%;
  height: 100vh;
  background-color: var(--black);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 50px;
}

.sidebar-logo{
  margin-bottom: 50px;
}

.sidebar-logo img {
  width: 150px;
  height: auto;
  background-color: var(--text-color);
  padding: 10px;
  border-radius: 5px;
}

.sidebar ul{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.sidebar ul li{
  color: var(--text-color);
  font-size: 20px;
  transition: var(--transition-slow);
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

.sidebar ul li h4{
  color: var(--primary-color);
  text-transform: uppercase;
}

.sidebar ul li p{
  color: var(--gray-color);
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
}
.sidebar div h4{
  font-size: 20px;
  color: var(--primary-color);
  text-transform: uppercase;
}
.sidebar .social-icons{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.sidebar .social-icons .icons{
  display: flex;
  gap: 20px;
}
.sidebar .social-icons h4{
  font-size: 20px;
  color: var(--primary-color);
  text-transform: uppercase;
}
.sidebar .social-icons a{
  color: var(--text-color);
  font-size: 1rem;
  transition: var(--transition-slow);
}
.sidebar .social-icons a:hover{
  color: var(--primary-color);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --primary-color: #BF9410;
  --text-color: #fff;
  --black: #111111;
  --black-light: #1a1a1a;
  --text-light: #f5f5f5;
  --gray-color: #777777;
  --border-color: #f0f0f0;
  --text-light2: #a3a3a3;
  --Quicksand-font: 'Quicksand', sans-serif;
  --transition-fast: all .4s ease-in-out;
  --transition-slow: all .6s ease-in-out;
}

/* Navbar */
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px 2%;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    display: flex;
    background-color: var(--text-light);
    z-index: 999;
}

.nav-list {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 50px;
  align-items: center;
}

.nav-list li a {
  color: var(--black);
  font-size: 18px;
  font-weight: 500;
  transition: var(--transition-slow);
}

.nav-list li a:hover {
  color: var(--primary-color);
}

.nav-right {
  display: flex;
  gap: 30px;
  align-items: center;
}

.btn{
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  background-color: var(--primary-color);
  font-size: 18px;
  font-weight: 500;
  border-radius: 8px;
  transition: var(--transition-slow);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.btn:hover {
  background-color: var(--black);
  color: var(--text-color);
  transition: var(--transition-slow);
}

.btn a {
  color: var(--text-color);
  font-size: 18px;
  font-weight: 500;
}

.btn i {
  margin-right: 10px;
  font-size: 20px;
  color: var(--text-color);
}

/* .nav-right .btn {
  padding: 15px 15px;
} */

.nav-right ul {
  display: flex;
  gap: 30px;
  align-items: center;
}

.nav-right ul li{
  position: relative;
  font-size: 20px;
  font-weight: 500;
}
.nav-right ul li {
  color: var(--black);
  font-size: 20px;
  font-weight: 500;
  transition: var(--transition-slow);
}

.nav-right ul li:hover {
  color: var(--primary-color);
}

.nav-right ul li::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
}
